
# Created by https://www.gitignore.io/api/powershell

### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

# Exlude Images Folder
# Images/*

# End of https://www.gitignore.io/api/powershell
